.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    /* The image used */
    background-image: url("../../../assets/images/background-header.jpg");
    
    /* Set a specific height */
    min-height: 600px;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
