.exchangeTableRates {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    text-align: right;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.exchangeTableRates  thead th {
    text-decoration: underline 1px solid black;
}

.exchangeTableRates tbody td {
    padding: 10px;
}
.exchangeTableRates > h3 {
    text-align: right;
}